.header {
  background-color: rgb(15, 159, 207);
  height: 195px;
  border: solid rgb(84, 133, 201) 3px;
}

.header-container {
  display: flex;
  margin-left: 2%;
}

.home-logo {
  height: 10em;
}

.header-text-container{
  margin-left: 4em;
}

.header-title, .header-slogan {
  font-family: monaco;
  color: white;
}

.header-title {
  font-size: 35px;
  font-weight: bold;
}

.header-slogan {
  font-size: 25px;
}

@media screen and (max-width: 43em) {
  .home-logo {
    height: 7em;
  }

  .header-text-container{
    margin-left: 2em;
  }

  .header-title {
    font-size: 25px;
  }

  .header-slogan {
    font-size: 20px;
  }
}

