.schedule-card{
  margin-top: .5em;
  margin-bottom: .5em;
  height: 5.5em;
  display: flex;
  border: solid blue 2px;
  border-radius: 6px;
  justify-content: center;
}

.schedule-card-text{
  color: black;
  font-family: monaco;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
} 

.schedule-cancelled-card-text{
  color: red;
  font-family: monaco;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
}

@media screen and (max-width: 100em) {
  .schedule-card {
    height: 8em
  }
}

@media screen and (max-width: 43em) {
  .schedule-card-text {
    font-size: 10px;
  }
}